*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;

}
.hero{
  height:100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.4)),
  url(images/food.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}
.nav-bar{
  display: flex;
  padding: 40px 120px;
}
.nav-logo h1{
  font-size: 2.5rem;
  color:white;
}

.nav-links{
  flex: 1;
}
.nav-links ul{
  margin-left: 150px;
  display: inline;
}
.nav-links ul li{
  list-style: none;
  display: inline-block;
  padding: 8px 25px;
}
.nav-links ul a{
  color: white;
  text-decoration: none;
}
.nav-links ul li::after{
  content: '';
  transition: 0.5s;
  width: 0;
  height:2px;
  background: yellow;
  display: block;
  margin: auto;
  transition: 0.3s;
}
.nav-links ul li:hover::after{
  width: 100%;
}
.btn{
  padding: 10px 20px;
  border: 0;
  background-color: yellow;
  font-weight: bold;
  cursor: pointer;

}
.nav-links .btn{
  float: right;
}
.banner-title{
  margin: 80px 130px;
  color: white;
}
.banner-title h1{
  font-size: 60px;
  margin-bottom: 30px;
}
.banner-title h1 span{
  color: yellow;
}
.vertical{
  height: 100%;
  background-color: black;
  position:absolute;
  top:0;
  left:0;
}
.search-icon{
  height: 60%;
  width: 80px;
}
.search-icon .fa{
  margin: 45px 23px;
  display: block;
  color: #fff;
  font-size: 25px;
  cursor: pointer;
}
.social-icon{
  height:35%;
  width: 80px;
  background: yellow;
  text-align: center;
  padding-top: 27%;
  position: absolute;
  bottom: 0;
}
.social-icon .fa{
  margin: 15px 23px;
  display: block;
  padding: 8px;
  border: 1px solid #000;
  border-radius: 50%;
  cursor: pointer;
}
.notify{
  display: flex;
  width: 400px;
  background: yellow;
  position: absolute;
  bottom: 0;
  right: 0;
  align-items: center;
}
.nav-bar .fa{
  display: none;
}
@media(max-width: 1000px) {
  .vertical{
    display: none;
  }
  .banner-title{
    margin: 80px 40px;
  }
  .banner-title h1{
    font-size: 2.8rem;
  }
  .nav-bar{
    padding: 20px 30px;
  }
  .fa-bars{
    position: absolute;
    right: 20px;
    top: 10px;
  }
  .nav-bar .fa{
    display: block;
    color: white;
    margin: 10px 25px;
    font-size: 25px;
    cursor: pointer;
    }
    .nav-links{
      height: 100%;
      width: 200px;
      background: black;
      display: none;
      position: absolute;
      top: 0;
      right: 0;
      text-align: left;
      z-index: 2;
    }
    .nav-links ul a{
      display: block;
    }
    .nav-links .btn{
      float: none;
      margin-left: 24px;
      margin-top: 10px;
    }
}
